body {
  font-family: Helvetica, Arial, sans-serif;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ios {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.android {
  font-family: Roboto, sans-serif;
}

.editor-button {
  text-align: center;
  cursor: pointer;
}

.editor-button.ios {
  color: rgb(0, 122, 255);
}

.editor-button.android {
   background-color: #1193f6;
   color: white;
   padding: 5px;
   font-size: 10pt;
   border-radius: 2px;
   font-family: Roboto, sans-serif;
   text-transform: uppercase;
}